@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

h1, h2, h3, h4, h5, h6, p {
    color: #333;
}

a {
    display: block;
    text-decoration: none !important;
}


h2, .h2 {
    font-size: 3rem;
    line-height: 1.7;
}

h4, .h4 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h6, .h6 {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
}

/* hero section */
.hero-section .hero-head {
    font-size: 4rem;
    line-height: 1.3;
}

.hero-section .hero-par {
    font-size: 18px;
    line-height: 1.6;
}

.feature-wrapper {
    align-items: center;
    margin-top: 35px;
    display: flex;
}

.number-wrapper {
    align-items: center;
    display: flex;
}

.number-large {
    color: #1e293b;
    letter-spacing: -.05em;
    margin-right: 14px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
}

.number-text {
    color: #495464;
    font-size: 16px;
    line-height: 1.2;
}

.line-break {
    width: 1px;
    height: 46px;
    background-color: #c9c9c9;
    margin-left: 30px;
    margin-right: 30px;
}

.commission-wrapper {
    background-color: #da5e0314;
    border-radius: 12px;
    align-items: center;
    margin-top: 25px;
    padding: 12px;
    display: flex;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

/* end hero section */

/* aboutInv section */

.aboutInv .card {
    padding: 40px;
    height: 100%;
    text-align: start;
    border: unset;
    background: transparent;
    color: #232426;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.aboutInv .card .card-icon {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    display: flex;
    box-shadow: 2px 30px 40px -32px rgba(0, 0, 0, .6);
}

.aboutInv .card .card-icon span {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutInv .card .card-icon span i {
    font-size: 2rem;
    color: #333;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.aboutInv .card:hover {
    box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
    background-color: #fff;
}

.aboutInv .card-body {
    padding: unset;
}

/* end */

/* aboutAff section */

.feature-card {
    color: #000;
    text-align: center;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 40px;
    text-decoration: none;
    transition: box-shadow .3s;
    display: flex;
    max-width: 100%;
    margin-bottom: 15px;
}

.icon-wrapper {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    display: flex;
    position: relative;
}

.feature-title {
    color: #1e293b;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.5;
}

.feature-paragraph {
    font-size: 16px;
    line-height: 32px;
}

.feature-card:hover {
    box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
}

/* end */

a.btnPadd {
    padding: 10px 35px;
}

img.roundImg {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.aboutFet .fetcard {
    height: 250px;
    cursor: pointer;
    padding: 30px;
    padding-top: 75px;
    background: #dbdbdb;
    margin-bottom: 4em;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
}

.aboutFet .fetcard .card-icon {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.aboutFet .fetcard .card-icon .icon {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4285f4;
    -webkit-box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
    box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
}

.aboutFet .fetcard .card-icon .icon i {
    font-size: 30px;
    color: #fff;
}

.aboutFet .fetcard:hover {
    background-color: #4285f4;
    color: #fff;
}

.aboutFet .fetcard:hover .cardText h3,
.aboutFet .fetcard:hover .cardText p {
    color: #fff;
}

.aboutFet .fetcard:hover .card-icon .icon {
    background-color: #fff;
    color: #4285f4;
    box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
}

.aboutFet .fetcard:hover .card-icon .icon i {
    color: #4285f4;
}

.aboutFet .fetcard:hover {
    background-color: #4285f4;
    color: #fff;
    top: -7px;
}

.aboutFet .fetcard:hover .cardText h3,
.aboutFet .fetcard:hover .cardText p {
    color: #fff;
}

.aboutFet .fetcard:hover .card-icon .icon {
    background-color: #fff;
    color: #4285f4;
    box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
}

.aboutFet .fetcard:hover .card-icon .icon i {
    color: #4285f4;
}

/* faqs section */
.question .card {
    border: 0;
    border-radius: 0;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.question .card .card-header {
    border: 0;
    background-color: transparent;
    padding: 20px 15px 20px 0;
}

.question h2 {
    text-align: start;
    padding: 12px;
}

.question h2 .btn {
    /* background-color: #fff; */
    border: 0;
    color: #252525 !important;
    font-size: 17px;
    font-weight: 600;
}

.question .card .card-body {
    padding: 10px 0px 20px 45px;
    color: #636363;
    font-size: 15px;
}

.question .card .card-header .fa {
    line-height: unset;
    font-size: 15px;
    background: transparent;
    width: 25px;
    height: 23px;
    margin-right: 7px;
    margin-bottom: 7px;
}

/* end */

.btn:hover {
    text-decoration: none;
}

.btnColor {
    background: linear-gradient(90deg, #da5e03 0%, #da5e03 80%);
    border-color: #da5e03 !important;
}

.btn:focus {
    outline: 0;
    text-decoration: none;
    box-shadow: 0 0;
}

/* sales section */

.saleSec .outerSec {
    padding: 0.75rem;
    border: 3px solid #4285f4;
}

.saleSec .outerSec .innerSec {
    padding: 3rem;
    border: 3px solid #4285f4;
}

/* end */

@media (max-width:767px) {
    .hero-section .hero-head {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .line-break {
        display: none;
    }

    .feature-wrapper {
        margin-top: unset;
        flex-wrap: wrap;
    }

    .number-wrapper {
        margin-top: 20px;
    }
}
