.p2 {
    display: none;
}

.popUp_cookies {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    width: 95%;
    background: linear-gradient(135deg, #6a99cf 0%, #8865b5 100%);
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 2.5%;
    z-index: 100;
}

.popUp_cookies button {
    padding: 5px;
    background-color: #136acd;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #136acd;
}

a {
    text-decoration: none;
}

.containerBanner {
    background: #fff;
}

.containerBanner .layoutFet {
    position: relative;
}

.containerBanner .layoutFet .pageHead_img {
    top: 55px;
}

.containerBanner .homeBanner_text {
    font-size: 35px;
    color: #333;
    text-align: center;
    line-height: 1.9;
}

.containerBanner .homeBanner_text strong {
    color: #B94400;
}

.containerBanner .homeBanner_text strong.brush-underline {
    position: relative;
}

.containerBanner .homeBanner_text strong.brush-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 20px;
    background: url('../images/Vector.webp') no-repeat center bottom;
    background-size: contain;
    display: block;
    min-height: 20px;
    pointer-events: none;
}


.imgHome_fullScreen {
    max-width: 950px !important;
    max-height: 518px;
    padding: 12px;
    aspect-ratio: 16 / 9;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.roundVideo {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .p2 {
        display: block;
    }

    .p1 {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .containerBanner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

@media screen and (max-width:767px) {
    .containerBanner_mobile .homeBanner_text {
        font-size: 25px;
    }
}
