a, h1, h2, h3, h4, h5, body {
    font-family: "Cairo" !important;
}

/* Font Face of Reyal Currency */

@font-face {
    font-family: "SaudiRiyalFont";
    src: url("../fonts/SaudiRiyalFont.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.rialSymbol, .rialSymbol+.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-results__option--highlighted {
    font-family: 'Cairo', 'SaudiRiyalFont' !important;
    font-style: normal;
    font-weight: bold;
    position: static !important;
    font-size: 35px !important;
}

.rialSymbol+.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-results__option--highlighted {
    font-size: 14px !important;
}

.loaders {
    position: relative;
    width: 75px;
    height: 100px;
    margin: auto;
    margin-top: 16rem;
}

.loader__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: #ee924e;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
    left: 0px;
    transform: scale(1, 0.2);
    -webkit-animation: barUp1 4s infinite;
    animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
    left: 15px;
    transform: scale(1, 0.4);
    -webkit-animation: barUp2 4s infinite;
    animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
    left: 30px;
    transform: scale(1, 0.6);
    -webkit-animation: barUp3 4s infinite;
    animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
    left: 45px;
    transform: scale(1, 0.8);
    -webkit-animation: barUp4 4s infinite;
    animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
    left: 60px;
    transform: scale(1, 1);
    -webkit-animation: barUp5 4s infinite;
    animation: barUp5 4s infinite;
}

.loader__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #ee924e;
    border-radius: 50%;
    -webkit-animation: ball 4s infinite;
    animation: ball 4s infinite;
}

@-webkit-keyframes ball {
    0% {
        transform: translate(0, 0);
    }

    5% {
        transform: translate(8px, -14px);
    }

    10% {
        transform: translate(15px, -10px);
    }

    17% {
        transform: translate(23px, -24px);
    }

    20% {
        transform: translate(30px, -20px);
    }

    27% {
        transform: translate(38px, -34px);
    }

    30% {
        transform: translate(45px, -30px);
    }

    37% {
        transform: translate(53px, -44px);
    }

    40% {
        transform: translate(60px, -40px);
    }

    50% {
        transform: translate(60px, 0);
    }

    57% {
        transform: translate(53px, -14px);
    }

    60% {
        transform: translate(45px, -10px);
    }

    67% {
        transform: translate(37px, -24px);
    }

    70% {
        transform: translate(30px, -20px);
    }

    77% {
        transform: translate(22px, -34px);
    }

    80% {
        transform: translate(15px, -30px);
    }

    87% {
        transform: translate(7px, -44px);
    }

    90% {
        transform: translate(0, -40px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes ball {
    0% {
        transform: translate(0, 0);
    }

    5% {
        transform: translate(8px, -14px);
    }

    10% {
        transform: translate(15px, -10px);
    }

    17% {
        transform: translate(23px, -24px);
    }

    20% {
        transform: translate(30px, -20px);
    }

    27% {
        transform: translate(38px, -34px);
    }

    30% {
        transform: translate(45px, -30px);
    }

    37% {
        transform: translate(53px, -44px);
    }

    40% {
        transform: translate(60px, -40px);
    }

    50% {
        transform: translate(60px, 0);
    }

    57% {
        transform: translate(53px, -14px);
    }

    60% {
        transform: translate(45px, -10px);
    }

    67% {
        transform: translate(37px, -24px);
    }

    70% {
        transform: translate(30px, -20px);
    }

    77% {
        transform: translate(22px, -34px);
    }

    80% {
        transform: translate(15px, -30px);
    }

    87% {
        transform: translate(7px, -44px);
    }

    90% {
        transform: translate(0, -40px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes barUp1 {
    0% {
        transform: scale(1, 0.2);
    }

    40% {
        transform: scale(1, 0.2);
    }

    50% {
        transform: scale(1, 1);
    }

    90% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 0.2);
    }
}

@keyframes barUp1 {
    0% {
        transform: scale(1, 0.2);
    }

    40% {
        transform: scale(1, 0.2);
    }

    50% {
        transform: scale(1, 1);
    }

    90% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 0.2);
    }
}

@-webkit-keyframes barUp2 {
    0% {
        transform: scale(1, 0.4);
    }

    40% {
        transform: scale(1, 0.4);
    }

    50% {
        transform: scale(1, 0.8);
    }

    90% {
        transform: scale(1, 0.8);
    }

    100% {
        transform: scale(1, 0.4);
    }
}

@keyframes barUp2 {
    0% {
        transform: scale(1, 0.4);
    }

    40% {
        transform: scale(1, 0.4);
    }

    50% {
        transform: scale(1, 0.8);
    }

    90% {
        transform: scale(1, 0.8);
    }

    100% {
        transform: scale(1, 0.4);
    }
}

@-webkit-keyframes barUp3 {
    0% {
        transform: scale(1, 0.6);
    }

    100% {
        transform: scale(1, 0.6);
    }
}

@keyframes barUp3 {
    0% {
        transform: scale(1, 0.6);
    }

    100% {
        transform: scale(1, 0.6);
    }
}

@-webkit-keyframes barUp4 {
    0% {
        transform: scale(1, 0.8);
    }

    40% {
        transform: scale(1, 0.8);
    }

    50% {
        transform: scale(1, 0.4);
    }

    90% {
        transform: scale(1, 0.4);
    }

    100% {
        transform: scale(1, 0.8);
    }
}

@keyframes barUp4 {
    0% {
        transform: scale(1, 0.8);
    }

    40% {
        transform: scale(1, 0.8);
    }

    50% {
        transform: scale(1, 0.4);
    }

    90% {
        transform: scale(1, 0.4);
    }

    100% {
        transform: scale(1, 0.8);
    }
}

@-webkit-keyframes barUp5 {
    0% {
        transform: scale(1, 1);
    }

    40% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0.2);
    }

    90% {
        transform: scale(1, 0.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes barUp5 {
    0% {
        transform: scale(1, 1);
    }

    40% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0.2);
    }

    90% {
        transform: scale(1, 0.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

#ht-preloader {
    direction: ltr;
    background: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden !important;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99999;
    text-align: center;
}

.text-blue {
    color: #333;
}

.owl-dots {
    bottom: -50px !important;
}

.owl-carousel .owl-nav {
    display: block;
    position: absolute;
    text-indent: inherit;
    /* width: 110%; */
    text-align: unset;
    /* bottom: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%); */
    /* left: 50%; */
    cursor: pointer;
    z-index: 999;
}

.owl-prev {
    float: left;
}

.owl-next {
    float: right;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    background: none;
    border-radius: unset;
    color: #02060b;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    line-height: 0;
    margin: 0 10px;
    padding: 10px 10px !important;
}

.text-blue {
    color: #333;
}

.btn.btn-dark:hover, .theme-blue {
    background: linear-gradient(135deg, #136acd 0%, #5E3791 100%) !important;

}

.featured-item::before {
    transform: scale(0);
    background: #f5b37f;
    background: linear-gradient(135deg, #f5b37f 0%, #ee924e 100%) !important;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.text-theme-blue {
    color: #333 !important;
    padding-bottom: 10px;
}

.text-theme-orange {
    color: #fcb32b !important;

}

.theme-orange {
    background: #fcb32b !important;
}

.theme-blue-gradient {
    background: linear-gradient(90deg, rgb(141, 186, 255) 0%, rgb(72, 143, 255) 80%) !important;
}

.theme-orange {
    background: linear-gradient(90deg, #fcb32b 0%, #fcb32b 80%) !important;

}

.post-categories, .tab .nav-tabs .nav-link.active, .tab .nav-tabs .nav-link:hover, .tab .nav-tabs.active>a:focus, .tab .nav-tabs>a:hover {
    background: linear-gradient(135deg, #136acd 0%, #5E3791 100%) !important;
}

/* .accordion .card.active a, .accordion .card a:hover {
    background: #D44D00 !important;
    color: #ffffff;
} */

.feature_description h3, .feature_description p {
    color: #333;
}

.feature_description h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}

.feature_description p {
    font-size: 14px;
    font-weight: 400;
}
