@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

/*html {
  height: 100%;
}*/
.section-tool-tabs {
    position: relative;
    background: linear-gradient(3deg, #da5e0333 0%, #d8edff 100%);
    color: #333;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.page-padding {
    position: relative;
    margin-bottom: 0;
    padding-right: 2.5rem;
    padding-bottom: 0;
    padding-left: 2.5rem;
    padding-top: 3rem;
}

.padding-vertical {
    padding-right: 0;
    padding-left: 0;
}

.container-medium {
    width: 100%;
    max-width: 74rem;
    margin-right: auto;
    margin-left: auto;
}

.section-tool-tab-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 2rem;
}

.section-tool-tabs__titles {
    padding: 0 !important;
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0rem;
    z-index: 100;
    height: 16rem;
    margin-bottom: -3rem;
}

.tools__titles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* padding-top: 2rem; */
    padding-bottom: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
}

.margin-bottom {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.margin-medium {
    margin: 2rem;
}

.text-align-center {
    text-align: center;
}

.heading-style-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #333;
    /* font-size: 3.25rem; */
    line-height: 1.14;
    font-weight: 400;
    font-family: "Cairo", sans-serif !important;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    line-height: 1.33;
    font-weight: 700;
}

.tools__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    justify-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 0.625rem;
    grid-row-gap: 0.625px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.tools__nav__button {
    padding: 0.5rem 1.25rem;
    border: 2px solid rgb(255, 212, 185);
    border-radius: 40px;
    font-family: "Cairo", sans-serif !important;
    color: #232426;
    font-weight: 600;
    text-decoration: none;
}

a {
    background-color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: "Cairo", sans-serif !important;
    color: #001b66;
    font-weight: 400;
    text-decoration: none;
}

.tool-nav__button-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-family: 'cairoBold';
}

.tools__nav__button.w--current {
    border-color: #f9f4f1;
    background-color: #f9f4f1;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}


.arrow {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    visibility: hidden;
}

.arrow>img {
    cursor: pointer;
    height: 50px;
    width: 50px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

@media (max-width:1025px) {
    /* .arrow {
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .arrow>img {
        cursor: pointer;
        height: 50px;
        width: 50px;
        object-fit: contain;
    } */

    .tools__nav {
        display: none;
    }

    .arrow {
        visibility: visible !important;
    }
}

.tools__tool-list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* height: 100vh; */
    padding-top: 5rem;
    padding-bottom: 8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 2.75rem;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.tools__tool-list__item-group {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.tool-image {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.grid-content-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "cairoBold";
}

.margin-bottom {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.margin-small {
    margin: 1rem;
}

.heading-style-2 {
    font-family: "Cairo", sans-serif !important;
    color: #232426;
    font-size: 2rem;
    line-height: 1.33;
    font-weight: 700;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Cairo", sans-serif !important;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 700;
}

.margin-medium {
    margin: 2rem;
}

.heading-style-4 {
    font-family: "Cairo", sans-serif !important;
    color: #232426;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 30px;
}

.text-style-body {
    font-family: "Cairo", sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
}

/*p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Cairo", sans-serif !important;
  font-size: 1rem;
  line-height: 1.5;
}*/
/* .arrow {
  display: none;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 601px) {
    .tools__tool-list__item {
        /* padding-top: 0rem; */
        padding-bottom: 8rem;
    }

    .deleteItem {
        display: none;
    }

    .section-tool-tabs__content {
        /*display: flex;*/
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .heading-style-1 {
        font-size: 13px;
        line-height: 30px;
        color: #000;
        font-weight: 900;
    }

    .tools__nav {
        display: none;
    }

    .tools__nav>a {
        max-width: 100%;
        flex-basis: 100%;
        margin-bottom: 5%;
        font-size: 11px;
        padding: 5px 0px;
    }

    .tool-nav__button-text {
        font-size: 11px;
    }

    .tools__titles {
        /* padding: 10px; */
    }

    .tools__tool-list__item-group {
        grid-template-columns: auto;
    }

    /* .section-tool-tabs__titles {
        margin-bottom: 8rem;
    } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .tools__tool-list__item {
        /* padding-top: 23rem; */
        padding-bottom: 8rem;
    }

    .tools__nav>a {
        max-width: 100%;
        flex-basis: 100%;
        margin-bottom: 2%;
    }

    .tools__nav {
        width: auto;
    }

    /* .section-tool-tabs__titles {
        margin-bottom: 8rem;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .tools__tool-list__item {
        /* padding-top: 25rem; */
        padding-bottom: 8rem;
    }

    .tools__nav>a {
        max-width: 32%;
        flex-basis: 32%;
        margin-bottom: 0%;
        font-size: 13px;
    }

    .tools__nav {
        width: 750px;
    }

    /* .section-tool-tabs__titles {
        margin-bottom: 0rem;
    } */
}

@media only screen and (min-width: 992px) {
    .tools__tool-list__item {
        /* padding-top: 20rem; */
        padding-bottom: 5rem;
    }

    .tools__nav>a {
        max-width: 32%;
        flex-basis: 32%;
        margin-bottom: 0%;
        font-size: 15px;
    }

    .tools__nav {
        width: 850px;
    }

    /* .section-tool-tabs__titles {
        margin-bottom: 0rem;
    } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .tools__tool-list__item {
        /* padding-top: 10rem; */
        padding-bottom: 5rem;
    }

    .tools__tool-list__item:last-of-type {
        padding-bottom: 5rem;
    }

    .tools__nav>a {
        max-width: 32%;
        flex-basis: 32%;
        margin-bottom: 0%;
        font-size: 15px;
    }

    .tools__nav {
        width: 1000px;
    }

    /* .section-tool-tabs__titles {
        margin-bottom: 0rem;
    } */
}
